@font-face {
    font-family: 'Gaegu';
    src: url('/Gaegu-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Gaegu';
    src: url('/Gaegu-Bold.woff2') format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: 'Gaegu';
    src: url('/Gaegu-Light.woff2') format('woff2');
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gaegu', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: url(ebgigyas.gif);
    color: #ffd5e3;
}

header {
    width: 100%;
    text-align: center;
    padding: 1rem;
    max-width: 65%;
    margin:1%;
    font-size:x-large;
    color: #ffe1e1;
    text-shadow: 2px 2px rgb(145, 41, 93);
    background-color: black';
}

footer {
    width: 100%;
    text-align: center;
    padding: 1rem;
    max-width: 65%;
    margin:1%
}


.content {
    flex: 1;
    width: 100%;
    max-width: 65%;
    display: flex;
    flex-direction: column;
    background-color: #2b1e1ef6;
    padding: 1.65rem;
    border: 1.5px solid #ffffff;
    border-radius: 2px;
    text-align: center;
}

.content p {
    color: #fffffff6;
    font-size: 18px;
}
.content hr {
    margin-bottom: 10px;
}
.content a{
    color: #e98b8b;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    background: #682525;
    border: 1.5px solid #ffffff;
    border-radius: 2px;
    font-size: 1.2em;
    max-width: 65%;
    margin: 1%;
}

.navbar a {
    color: rgb(228, 207, 207);
    font-weight: 800;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #000000;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
