body {
    background: url(ebgigyas.gif);
    color: rgb(228, 207, 207);
    font-family: 'Gaegu';

}

@font-face {
    font-family: 'Gaegu';
    src: url('/css/fonts/Gaegu-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Gaegu';
    src: url('/css/fonts/Gaegu-Bold.woff2') format('woff2');
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Gaegu';
    src: url('/fonts/Gaegu-Light.woff2') format('woff2');
    font-weight: 300;
  }

  .navbar{
    display: flex;
    padding:5px;
    background: #c5799f;
    border:1px solid #ffffff;
    border-radius:2px;
    margin:6%;
    font-size:1.2em;
    justify-content: space-around;
    }

    .navbar a{
    margin:1px;
    padding:1px;
    color: #b2d6da;
    font-weight: 800;

    }

    .navbar a:hover{
      color: #8a3737;
    }
    
  .body {
    display: flex;
    background-color: #4d2438;
    padding: 5px;
    border:1px solid #ffffff;
    border-radius:2px;
    margin:6%;
    margin-top: %;
    justify-content: center;
    height: 80em;
  }
